FRONTEND_URL=https://whitelabel.usekonnex.com
BACKEND_URL=https://api-whitelabel.usekonnex.com
PROXY_PORT=
DB_NAME=whitelabel
DB_USER=whitelabel
DB_PASS=CHANGE_ME
DB_POOL_MAX=20
DB_POOL_MIN=2
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=600000
REDIS_PASS=CHANGE_ME
REDIS_OPT_LIMITER_MAX=1
REDIS_OPT_LIMITER_DURATION=3000
JWT_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
REDIS_SECRET_KEY=CHANGE_ME
MASTER_KEY=CHANGE_ME
ENV_TOKEN=CHANGE_ME
COMPANY_TOKEN=CHANGE_ME
ADMIN_EMAIL=admin@whitelabel.usekonnex.com
ADMIN_PASSWORD=CHANGE_ME
SUPPORT_NUMBER=
USER_LIMIT=10
CONNECTIONS_LIMIT=10
CLOSED_SEND_BY_ME=true
VERIFY_TOKEN=whitelabel-konnex
BULL_BOARD=false
BULL_USER=
BULL_PASS=
SENTRY_DSN=
MP_ACCESS_TOKEN=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
